{% load static %}
<section>
    <div class="mb-4">
        <p class="text-primary fw-semibold ls-1 text-uppercase">{{current_island.name}}'S FINEST</p>
        <h2 class="title">World-Famous Beaches</h2>
        <p class="fs-lg">Discover the stunning shorelines that make Hawaii a tropical paradise.</p>
    </div>
    <div class="item-cards">
        <article class="item-card bg-white">
            <figure class="mb-0">
                <img src="{% static '/core/assets/beaches/waikiki.jpg' %}" alt="">
                <figcaption class="location d-flex align-items-center gap-1 ps-3 pe-4 py-2 fs-xs fw-semibold">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path
                            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>
                    <span>South Shore</span>
                </figcaption>
            </figure>
            <div class="card-body p-3">
                <h3 class="fs-lg fw-bold">Waikiki Beach</h3>
                <p class="text-secondary description">The most famous beach in Hawaii with gentle waves perfect for
                    surfing lessons and stunning Diamond Head views.</p>
                <div class="mt-2 text-end">
                    <a href="" class="text-decoration-none fs-sm">Learn More</a>
                </div>
            </div>
        </article>
        <article class="item-card bg-white">
            <figure class="mb-0">
                <img src="{% static '/core/assets/beaches/waikiki.jpg' %}" alt="">
                <figcaption class="location d-flex align-items-center gap-1 ps-3 pe-4 py-2 fs-xs fw-semibold">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path
                            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>
                    <span>South Shore</span>
                </figcaption>
            </figure>
            <div class="card-body p-3">
                <h3 class="fs-lg fw-bold">Waikiki Beach</h3>
                <p class="text-secondary description">The most famous beach in Hawaii with gentle waves perfect for
                    surfing lessons and stunning Diamond Head views.</p>
                <div class="mt-2 text-end">
                    <a href="" class="text-decoration-none fs-sm">Learn More</a>
                </div>
            </div>
        </article>
        <article class="item-card bg-white">
            <figure class="mb-0">
                <img src="{% static '/core/assets/beaches/waikiki.jpg' %}" alt="">
                <figcaption class="location d-flex align-items-center gap-1 ps-3 pe-4 py-2 fs-xs fw-semibold">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path
                            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>
                    <span>South Shore</span>
                </figcaption>
            </figure>
            <div class="card-body p-3">
                <h3 class="fs-lg fw-bold">Waikiki Beach</h3>
                <p class="text-secondary description">The most famous beach in Hawaii with gentle waves perfect for
                    surfing lessons and stunning Diamond Head views.</p>
                <div class="mt-2 text-end">
                    <a href="" class="text-decoration-none fs-sm">Learn More</a>
                </div>
            </div>
        </article>
    </div>
    <div class="d-flex justify-content-end mt-3">
        <a href="{% url 'core:beaches' island=current_island %}" class="btn fs-sm fw-semibold">More Beaches
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
            </svg>
        </a>
    </div>
</section>