{% load static %}
<section class="beaches">
    <div class="py-4">
        <p class="text-primary fw-semibold ls-1 text-uppercase">{{current_island.name}}'S NATURE</p>
        <h2 class="title">Explore the Trails</h2>
        <p class="fs-lg">Breathtaking hikes that showcase the island’s natural beauty.</p>
    </div>
    <div class="item-cards">
        <article class="item-card bg-white">
            <figure class="mb-0">
                <img src="{% static '/core/assets/hikes/diamondhead.jpg' %}" alt="">
            </figure>
            <div class="card-body p-3">
                <span class="d-flex align-items-center fs-xs text-secondary fw-semibold mb-2">Honolulu</span>
                <h3 class="fs-lg fw-bold">Diamond Head</h3>
                <p class="text-secondary">The most famous beach in Hawaii with gentle waves perfect for
                    surfing lessons and stunning Diamond Head views.</p>
                <dl class="d-flex justify-content-between align-items-center mt-2">
                    <div>
                        <dt class="fs-xs text-secondary">Duration</dt>
                        <dd class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-clock me-1" viewBox="0 0 16 16">
                                <path
                                    d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                            </svg>
                            <span>1hr 30m</span>
                        </dd>
                    </div>
                    <div class="text-end">
                        <dt class="fs-xs text-secondary">Difficulty</dt>
                        <dd class="price text-primary fw-bold">2/10</dd>
                    </div>
                </dl>
            </div>
        </article>
        <article class="item-card bg-white">
            <figure class="mb-0">
                <img src="{% static '/core/assets/hikes/diamondhead.jpg' %}" alt="">
            </figure>
            <div class="card-body p-3">
                <span class="d-flex align-items-center fs-xs text-secondary fw-semibold mb-2">Honolulu</span>
                <h3 class="fs-lg fw-bold">Diamond Head</h3>
                <p class="text-secondary">The most famous beach in Hawaii with gentle waves perfect for
                    surfing lessons and stunning Diamond Head views.</p>
                <dl class="d-flex justify-content-between align-items-center mt-2">
                    <div>
                        <dt class="fs-xs text-secondary">Duration</dt>
                        <dd class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-clock me-1" viewBox="0 0 16 16">
                                <path
                                    d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                            </svg>
                            <span>1hr 30m</span>
                        </dd>
                    </div>
                    <div class="text-end">
                        <dt class="fs-xs text-secondary">Difficulty</dt>
                        <dd class="price text-primary fw-bold">2/10</dd>
                    </div>
                </dl>
            </div>
        </article>
        <article class="item-card bg-white">
            <figure class="mb-0">
                <img src="{% static '/core/assets/hikes/diamondhead.jpg' %}" alt="">
            </figure>
            <div class="card-body p-3">
                <span class="d-flex align-items-center fs-xs text-secondary fw-semibold mb-2">Honolulu</span>
                <h3 class="fs-lg fw-bold">Diamond Head</h3>
                <p class="text-secondary">The most famous beach in Hawaii with gentle waves perfect for
                    surfing lessons and stunning Diamond Head views.</p>
                <dl class="d-flex justify-content-between align-items-center mt-2">
                    <div>
                        <dt class="fs-xs text-secondary">Duration</dt>
                        <dd class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-clock me-1" viewBox="0 0 16 16">
                                <path
                                    d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                            </svg>
                            <span>1hr 30m</span>
                        </dd>
                    </div>
                    <div class="text-end">
                        <dt class="fs-xs text-secondary">Difficulty</dt>
                        <dd class="price text-primary fw-bold">2/10</dd>
                    </div>
                </dl>
            </div>
        </article>
    </div>
    <div class="d-flex justify-content-end mt-3">
        <a href="" class="link-secondary text-decoration-none">More Trails
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
            </svg>
        </a>
    </div>
</section>