{% load static %}
{% block style_sheet %}
<link rel="stylesheet" href="{% static 'core/css/sections/posts.css' %}?v=16">
{% endblock %}

<div class="post-cards">
    {% for post in wp_posts %}
    <article class="post-card bg-white">
        <a href="{% url 'core:post' current_island post.slug %}" class="text-decoration-none text-dark">
            <figure class="mb-0 p-3">
                <img class="media" src="{{post.jetpack_featured_media_url}}" alt="">
                <figcaption class="read-time d-flex align-items-center gap-1 ps-3 pe-4 py-2 fs-xs fw-semibold">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-clock" viewBox="0 0 16 16">
                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                    </svg>
                    <span>{{post.read_time}} minute read</span>
                </figcaption>
            </figure>
            <div class="card-body p-3">
                <div class="d-flex gap-2">
                    {% for tag in post.tag_names|slice:":3" %}
                    <p class="d-flex align-items-center fs-xs text-theme rounded-pill border px-2 py-1">{{tag}}</p>
                    {% endfor %}
                </div>
                <h3 class="fs-lg fw-bold mt-2">{{post.title.rendered|safe}}</h3>
                <p class="text-secondary description">Oahu’s world-famous beaches offer something for every traveler,
                    from sunbathing and swimming to surfing and breathtaking sunsets.</p>
                <hr>
                <div class="d-flex justify-content-between">
                    <div class="author d-flex gap-2">
                        {% if post.id|divisibleby:"2" %}
                        <img src="{% static 'core/assets/spencer.webp' %}" alt="">
                        <div>
                            <p class="fw-bold fs-sm">by Spencer</p>
                            <p class="fs-xs">{{post.modified|date:"M j, Y"}}</p>
                        </div>
                        {% else %}
                        <img src="{% static 'core/assets/koda.webp' %}" alt="">
                        <div>
                            <p class="fw-bold fs-sm">by Koda</p>
                            <p class="fs-xs">{{post.modified|date:"M j, Y"}}</p>
                        </div>
                        {% endif %}
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                    </svg>
                </div>
            </div>
        </a>
    </article>
    {% endfor %}
</div>