{% extends 'core/base_site.html' %}
{% load static %}

{% block style_sheet %}
<link rel="stylesheet" href="{% static 'core/css/island.css' %}?v=9">
{% endblock %}

{% block hero %}
<!-- Hero (placed above #header in css)-->
{% include 'core/components/hero.html' %}
{% endblock %}

{% block beach_section %}
<!-- Beaches -->
<!-- {% include 'core/sections/beaches.html' %} -->
<!-- <hr class="w-50"> -->
{% endblock %}

<!-- See More Button -->
{% block see_more_button %}
<a href="{% url 'core:bookings' island=current_island %}"
    class="d-none d-sm-block btn btn-dark fw-semibold rounded-pill fs-sm">See More
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
    </svg>
</a>
{% endblock %}

<!-- See All Buttons -->
{% block see_all_buttons %}
<div class="d-flex justify-content-end mt-3 gap-2">
    {% for cat in popular_categories %}
    <a href="" class="btn btn-outline-dark rounded-pill fs-sm fw-semibold">{{cat.name}}
        Activities
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
        </svg>
    </a>
    {% endfor %}
    <a href="{% url 'core:bookings' island=current_island %}"
        class="btn btn-dark rounded-pill fs-sm fw-semibold px-3">See All
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
        </svg>
    </a>
</div>
{% endblock %}



{% block hike_section %}
<!-- Hiking Cards -->
<!-- <hr class="w-50"> -->
<!-- {% include 'core/sections/hikes.html' %} -->
{% endblock %}


{% block restaurant_section %}
<!-- Restaurant Cards -->
<!-- <hr class="w-50"> -->
<!-- {% include 'core/sections/food_spots.html' %} -->
{% endblock %}

{% block sub-footer %}
<!-- <div class="sub-footer text-white">
    <div class="container py-5 d-flex align-items-center justify-content-between">
        <p class="text text">Ready to explore {{current_island.name}}? <br> Start planning your Hawaiian adventures today.
        </p>
        <a href="{% url 'core:bookings' island=current_island %}" class="btn btn-light text-primary fw-semibold px-4 py-3">Explore Activities
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
            </svg>
        </a>
    </div>
</div> -->
{% endblock %}