{% extends 'core/base_site.html' %}
{% load static %}

{% block style_sheet %}
<link rel="stylesheet" href="{% static 'core/css/post_list.css' %}?v=14">
{% endblock %}

{% block main_content %}
{% include 'core/sections/posts.html' %}
{% endblock %}

{% block sub-footer %}
<div class="sub-footer text-white">
    <div class="container py-5 d-flex align-items-center justify-content-between">
        <p class="text text">Ready to explore {{current_island.name}}? <br> Start planning your Hawaiian adventures today.
        </p>
        <a href="{% url 'core:bookings' island=current_island %}" class="btn btn-light text-primary fw-semibold px-4 py-3">Explore Activities
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
            </svg>
        </a>
    </div>
</div>
{% endblock %}