<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_title %}
    <title>Hawaii Travel Tips - {{current_island}}</title>
    {% endblock %}
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'core/assets/logo_sq.png' %}">
    <link rel="stylesheet" href="{% static 'core/css/base_site.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class="m-0 p-0">

    Test
    <div class="container-fluid d-flex p-0">
        <!-- Side Bar (lg screens) -->
        <div class="side-bar d-none d-lg-flex flex-column pb-4 ps-2">
            <a class="mt-3" href="{% url 'core:index' %}">
                <img class="side-bar-logo" src="{% static 'core/assets/logo.png' %}" alt="logo">
            </a>
            <hr class="mx-4 text-body-tertiary">
            <div class="d-flex flex-column">
                <p class="fs-5 ms-3 me-4 mt-2 mb-2 text-black fw-bolder">Islands</p>
                {% for island in islands %}
                {% if current_island == island %}
                <a href="{% url 'core:change-island' island %}"
                    class="category ps-4 fs-6 py-1 fw-light text-primary text-decoration-none"><i class="bi bi-dot"></i>{{island}}
                </a>
                {% else %}
                <a href="{% url 'core:change-island' island %}"
                    class="category ps-4 fs-6 py-1 fw-light text-black">{{island}}
                </a>
                {% endif %}
                {% endfor %}
            </div>

            {% for type in types %}
            {% if type.filtered_categories %}
                <hr class="mx-4 text-body-tertiary">
                <a href="{% url 'core:change-type' current_island type %}" class="type fs-5 ps-3 py-2 m-0 text-black fw-bolder">{{type}}</a>
                {% endif %}
                {% for category in type.filtered_categories %}
                    {% if current_category == category %}
                    <a href="{% url 'core:change-cat' current_island category %}"
                        class="category ps-4 pe-2 fs-6 py-1 fw-light text-primary text-decoration-none"><i class="bi bi-dot"></i>{{category}}
                    </a>
                    {% elif category.is_popular %}
                    <a href="{% url 'core:change-cat' current_island category %}"
                        class="category ps-4 pe-2 fs-6 py-1 fw-light text-black">{{category}} <small class="fw-bold text-theme"
                            style="font-size: 10px;">Popular!</small></a>
                    {% else %}
                    <a href="{% url 'core:change-cat' current_island category %}"
                        class="category ps-4 pe-2 fs-6 py-1 fw-light text-black">{{category}}</a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

        <!-- Offcanvas (md screens)-->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvas">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body py-0 pb-5">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column">
                        <p class="fs-5 ms-3 me-4 mt-4 mb-2 text-black fw-bolder">Islands</p>
                        {% for island in islands %}
                        {% if current_island == island %}
                        <a href="{% url 'core:change-island' island %}"
                            class="category ps-4 fs-6 py-1 fw-light text-primary text-decoration-none"><i class="bi bi-dot"></i>{{island}}
                        </a>
                        {% else %}
                        <a href="{% url 'core:change-island' island %}"
                            class="category ps-4 fs-6 py-1 fw-light text-black">{{island}}
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
        
                    {% for type in types %}
                        {% if type.filtered_categories %}
                        <a href="{% url 'core:change-type' current_island type %}" class="fs-5 ms-3 me-4 mt-4 mb-2 text-black fw-bolder">{{type}}</a>
                        {% endif %}
                        {% for category in type.filtered_categories %}
                            {% if current_category == category %}
                            <a href="{% url 'core:change-cat' current_island category %}"
                                class="category ps-4 fs-6 py-1 fw-light text-primary text-decoration-none"><i class="bi bi-dot"></i>{{category}}
                            </a>
                            {% elif category.is_popular %}
                            <a href="{% url 'core:change-cat' current_island category %}"
                                class="category ps-4 fs-6 py-1 fw-light text-black">{{category}} <small class="fw-bold text-theme"
                                    style="font-size: 10px;">Popular!</small></a>
                            {% else %}
                            <a href="{% url 'core:change-cat' current_island category %}"
                                class="category ps-4 fs-6 py-1 fw-light text-black">{{category}}</a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>

        {% block main-content %}
        <div class="main-content px-lg-3">
            <!-- Nav Bar -->
            <nav class="navbar navbar-expand-lg d-lg-none p-2">
                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
                    aria-controls="offcanvas">
                    <span class="fs-5 navbar-toggler-icon"></span>
                </button>
                {% if user.is_authenticated %}
                <div class="d-flex gap-2">
                    <a href="/admin" class="btn btn-warning"><i class="bi bi-person-arms-up"></i> Dashboard</a>
                    <a href="{% url 'core:logout' current_island %}" class="btn btn-warning"><i class="bi bi-box-arrow-right"></i> Logout</a>
                </div>
                {% else %}
                <a class="logo-link navbar-brand d-flex align-items-center p-0" href="{% url 'core:index' %}">
                    <img class="logo" src="{% static 'core/assets/logo.png' %}" alt="logo">
                </a>
                {% endif %}
            </nav>
            <!-- Admin Buttons -->
            {% if user.is_authenticated %}
            <div class="d-none d-lg-flex justify-content-end gap-2 mt-4">
                <a href="/admin" class="btn btn-warning"><i class="bi bi-person-arms-up"></i> Dashboard</a>
                <a href="{% url 'core:logout' current_island %}" class="btn btn-warning"><i class="bi bi-box-arrow-right"></i> Logout</a>
            </div>
            {% endif %}
            <!-- Jumbotron -->
            {% block jumbotron %}
            {% if jumbotron %}
            <div class="jumbotron mt-lg-4">
                <div class="background" style="background-image: url('{{ current_island.image_URL }}');"></div>
                <div class="gradient"></div>
                <div class="jumbotron-content d-flex flex-column justify-content-center">
                    <p class="island-name fw-bold text-center text-white m-0 lh-1 m-0">{{current_island.title}}</p>
                    <p class="title text-center text-white fw-semibold m-0 mt-3"></i>HAWAII TRAVEL TIPS</p>
                    <p class="text-center text-white fs-1 fw-light m-0 mt-3">Book your Hawaii adventure</p>
                </div>
            </div>
            {% endif %}
            {% endblock %}
            <!-- Mobile Breadcrumb -->
            {% block mobile-breadcrumb %}
            <div class="mobile-breadcrumb d-lg-none" {% if jumbotron %}style='margin-top:-30px;'{% endif %}>
                <div class="box rounded-2 mx-4 bg-body-tertiary d-flex flex-column align-items-center justify-content-center ">
                    <div class="d-flex align-items-center justify-content-center gap-2 fw-medium">
                        <span class="">{{current_island}}</span>
                        {% if not current_category %}
                        <i class="fa-solid fa-angle-right text-body-tertiary"></i>
                        <span>{{breadcrumb}}</span>
                        {% else %}
                        <i class="fa-solid fa-angle-right text-body-tertiary"></i>
                        <span>{{current_category.type}}</span>
                        <i class="fa-solid fa-angle-right text-body-tertiary"></i>
                        <span>{{breadcrumb}}</span>
                        {% endif %}
                    </div>
                    <!-- <p class="page-number text-center text-secondary fw-medium">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</p> -->
                </div>
                <div class="buttons d-flex justify-content-center gap-3 mt-3">
                    <button type="button" class="btn btn-outline-dark rounded-pill fw-medium px-3 py-1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <small><i class="fa-regular fa-map me-2"></i>Island</small>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% for island in islands %}
                        {% if current_island == island %}
                        <li><a class="dropdown-item text-primary"
                                href="{% url 'core:change-island' island %}">{{current_island}}</a>
                        </li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'core:change-island' island %}">{{island}}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <button class="btn btn-outline-dark rounded-pill fw-medium px-3 py-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
                        aria-controls="offcanvas">
                        <small><i class="fa-solid fa-bars me-2"></i>Category</small>
                    </button>
                    <button class="btn btn-outline-dark rounded-pill fw-medium px-3 py-1" onclick="triggerSearchBar()">
                        <small><i class="fa-solid fa-magnifying-glass me-2"></i>Search</small>
                    </button>
                </div>
                <hr class="text-secondary mx-5">
            </div>
            <div id="search-bar" class="search pb-3 mx-4 d-lg-none">
                <form action="{% url 'core:search' current_island %}" method="GET">
                    <div class="input-group">
                        <span class="input-group-text rounded-start-pill" id="large-search-bar"><i class="bi bi-search"></i></span>
                        <input type="search" class="form-control rounded-end-pill" name="q"
                            aria-label="Text input with segmented dropdown button"
                            placeholder="Search {{current_island}}">
                    </div>
                </form>
            </div>
            {% endblock %}
            <!-- lg Breadcrumb -->
            {% block lg-breadcrumb %}
            <div class="d-none d-lg-flex justify-content-between mt-lg-4 px-3 px-lg-0">
                <div class="d-flex align-items-center gap-2 flex-wrap fw-semibold">
                    <span class="ms-lg-2">{{current_island}}</span>
                    {% if not current_category %}
                    <i class="fa-solid fa-angle-right text-body-tertiary"></i>
                    <span>{{breadcrumb}}</span>
                    {% else %}
                    <i class="fa-solid fa-angle-right text-body-tertiary"></i>
                    <span>{{current_category.type}}</span>
                    <i class="fa-solid fa-angle-right text-body-tertiary"></i>
                    <span>{{breadcrumb}}</span>
                    {% endif %}
                </div>
                <div class="d-none d-lg-block search px-3 px-lg-0 w-25">
                    <form action="{% url 'core:search' current_island %}" method="GET">
                        <div class="input-group">
                            <span class="input-group-text bg-white rounded-start-pill" id="small-search-bar"><i class="bi bi-search"></i></span>
                            <input type="search" class="form-control rounded-end-pill" name="q"
                                aria-label="Text input with segmented dropdown button"
                                placeholder="Search {{current_island}}">
                        </div>
                    </form>
                </div>
            </div>
            {% endblock %}
            <!-- Empty Message -->
            {% block empty-message %}{% endblock %}
            <!-- Boooking Cards -->
            <div class="cards d-flex flex-wrap mt-2 mt-lg-3 gap-2 rounded-1">
                {% for booking in page_obj %}
                <div id="{{booking.fh_id}}" class="card" {% if not booking.is_public %}style='opacity: 70%;'{% endif %}>
                    <a class="text-decoration-none" href="{{booking.referral_link}}&back={{back_url}}">
                        <div class="background">
                            <div class="booking-image-container">
                                <div class="card-image" style="background-image: url('{{ booking.image_URL }}');"></div>
                            </div>
                            <div class="company d-flex flex-column gap-2">
                                <small class="company-name ps-1">{{booking.company_name}}</small>
                            </div>
                            <div class="badges d-flex justify-content-end">
                                {% if booking.is_promo %}
                                <div class="promo-badge bg-theme rounded-1 text-white py-1 px-2 fw-semibold">{{booking.promo_amount}} OFF Promo Code
                                </div>
                                {% endif %}
                                {% if booking.is_popular %}
                                <div class="popular bg-primary rounded-1 text-white py-1 px-2 fw-semibold">Popular!
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                    <div class="body d-flex flex-column px-2 px-md-3 pt-2 pb-1">
                        <a href="{{booking.referral_link}}{{back_url}}" class="text-decoration-none">
                            <p class="title fw-medium text-black">{{booking.title}}</p>
                        </a>
                        <small class="city text-secondary">{{booking.city}}</small>
                        {% if booking.promo_code %}
                        <small class="promo-code text-secondary">Promo Code <i class="bi bi-dot"></i> 
                            <span class="text-theme fw-medium" style="letter-spacing: 0.5px; font-size: 11px;">{{booking.promo_code}}</span>
                        </small>
                        {% endif %}
                    </div>
                    <div class="tags d-flex flex-wrap gap-1 px-2 px-md-3 pb-2 ">
                        {% for tag in booking.tags.all %}
                        <div class="tag bg-body-tertiary text-primary rounded-1 d-flex align-items-center justify-content-center py-1 px-2">
                            {{tag}}
                        </div>
                        {% endfor %}
                    </div>
                    {% if user.is_authenticated %}
                    <a href="{% url 'core:booking-update' booking.pk %}?island={{current_island|urlencode}}&category={{current_category|urlencode}}&page={{page_obj.number}}" class="text-center text-black bg-warning p-2 m-2 text-decoration-none fw-semibold">
                        Update Booking
                    </a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <!-- Pagination Bar -->
            {% block pagination %}
            <div class="mt-4 mb-5 d-flex justify-content-center">
                <nav aria-label="...">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        {% endif %}

                        {% for page_number in page_range %}
                        {% if page_number == page_obj.number %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{page_number}}</span>
                        </li>
                        {% elif page_number == "…" or page_number == None %}
                        <li class="page-item" aria-current="page">
                            <span class="page-link">{{page_number}}</span>
                        </li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            {% endblock %}
        </div>
        {% endblock %}

    </div>

    <!-- Footer -->
    <footer class="footer bg-light w-100 text-center pt-3 border-top">
        <div class="">
            <a class="text-decoration-none" href="https://www.facebook.com/groups/1747780178610364" target="_blank">
                <i class="bi bi-facebook fs-1"></i>
            </a>
        </div>
        <div class="">
            <a class="text-decoration-none title text-secondary" href="https://www.facebook.com/groups/1747780178610364" target="_blank">
                <small>Join us on Facebook <span class="fw-semibold"><i class="bi bi-dot"></i> 300k+ members</span></small>
            </a>
        </div>
        <div class="info-links mt-1 mb-3 text-theme">
            <a href="{% url 'core:info' %}#cancellation-policy" class="text-decoration-none fs-6">Cancellation Policy</a>
            <span class="text-secondary mx-2">|</span>
            <a href="{% url 'core:info' %}#contact-us" class="text-decoration-none fs-6">Contact Us</a>
            <span class="text-secondary mx-2">|</span>
            <a href="{% url 'core:info' %}#become-an-affiliate" class="text-decoration-none fs-6">Become an Affiliate</a>
        </div>
        <a class="text-decoration-none text-dark pb-3 garett-contact-link"
                            href="{% url 'core:contact-garett' %}"><small> Web services <span class="text-decoration-none text-secondary">Garett Joseph</span></small></a>
    </footer>



    <script src="{% static './core/js/base_site.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://fareharbor.com/embeds/api/v1/?autolightframe=yes"></script>
</body>

</html>