{% extends 'core/base_site.html' %}

{% load static %}

{% block head %}
<meta http-equiv="refresh" content="0; URL=/{{current_island}}/" />
<link rel="canonical" href="https://www.hawaiitraveltips.com/Oahu/" />
<meta name="robots" content="noindex, follow">
<title>Redirecting to beautiful {{current_island.name}}</title>
{% endblock %}

{% block main-content %}
<div class="main-content px-lg-3">
    <div class="jumbotron mt-lg-4">
        <div class="hero-text">
            <p class="island-name">{{ current_island.title }}</p>
            <p class="tagline">Begin your Hawaii adventure</p>
            <p class="title">HAWAII TRAVEL TIPS</p>
        </div>
        <picture>
            <source 
                media="(max-width: 600px)" 
                srcset="{{ current_island.image_mobile_URL }}"
            >
            <img 
                src="{{ current_island.image_URL }}" 
                alt="Hero Image"
                fetchpriority="high"
                >
        </picture>
    </div>
</div>
{% endblock %}