<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Contact Hawaii Travel Tips to ask questions, share feedback, or become a travel activity affiliate. We’re here to help make your Hawaiian adventure unforgettable.">

    <meta property="og:site_name" content="Hawaii Travel Tips">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Contact Hawaii Travel Tips - Ask Questions or Become a Partner">
    <meta property="og:description" content="Contact Hawaii Travel Tips to ask questions, share feedback, or become a travel activity affiliate. We’re here to help make your Hawaiian adventure unforgettable.">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">

    <title>Contact Hawaii Travel Tips - Ask Questions or Become a Partner</title>
    
    <link rel="canonical" href="{{ request.build_absolute_uri}}">

    <!-- Standard favicons -->
    <link rel="icon" type="image/png" sizes="16x16" href="https://hawaii-travel-tips.s3.us-east-2.amazonaws.com/favicon_16_16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://hawaii-travel-tips.s3.us-east-2.amazonaws.com/favicon_32_32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="https://hawaii-travel-tips.s3.us-east-2.amazonaws.com/favicon_48_48.png">
    <!-- Apple Touch -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://hawaii-travel-tips.s3.us-east-2.amazonaws.com/favicon_180_180.png">
    <!-- Android/Chrome -->
    <link rel="icon" type="image/png" sizes="192x192" href="https://hawaii-travel-tips.s3.us-east-2.amazonaws.com/favicon_192_192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="https://hawaii-travel-tips.s3.us-east-2.amazonaws.com/favicon_512_512.png">

    <!-- Preconnect -->
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
    <link rel="preconnect" href="https://use.fontawesome.com" crossorigin>

    <link rel="stylesheet" href="{% static 'core/css/base_site.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Hawaii Travel Tips",
    "alternateName": "hawaiitraveltips.com",
    "url": "https://www.hawaiitraveltips.com",
    "sameAs": [
        "https://www.facebook.com/groups/1747780178610364"
    ]
    }
    </script>
</head>

<style>
    .logo{
        height: 100px;
    }
    .container{
        width: 75%;
    }
    @media (max-width: 768px) {
    .container{
        width: 100%;
    }
}
</style>
<body>
    <div class="d-flex flex-column align-items-center bg-light">
        <!-- SEO -->
        <h1 class="visually-hidden">Contact Hawaii Travel Tips - Ask Questions or Become a Partner</h1>
        <div class="container pb-5">
            <div class="my-4 text-center">
                <a href="{% url 'core:home' %}">
                    <img class="logo" src="https://hawaii-travel-tips.s3.us-east-2.amazonaws.com/logo.png" alt="">
                </a>
            </div>
            <a href="{% url 'core:home' %}" class="btn btn-outline-primary mb-3"><i class="bi bi-arrow-90deg-left"></i> Back</a>
            <div class="mt-2 border rounded-2 py-3 px-4 bg-white">
                <p class="fs-4 mt-3">Small Team, Big Mission</p>
                <p class="text-secondary">At Hawaii Travel Tips, our mission is to make your Hawaiian adventure unforgettable by connecting you with the best tours and activities across all the islands. From thrilling outdoor excursions to cultural experiences and relaxing getaways, we’re here to help you discover the true spirit of Aloha with ease, trust, and local insight.</p>
                <a href="#contact-us">Share Your Feedback</a>
            </div>
            <span id="cancellation-policy"></span>
            <!-- Cancellation Policy -->
            <div class="mt-4 border rounded-2 py-3 px-4  bg-white">
                <p class="fs-2 text-theme fw-bold">Cancellation Policy</p>
                <p class="fs-4 mt-3">Need to cancel your reservation?</p>
                <p class="text-secondary mb-2">Your peace of mind is important to us. Since we do not process payments directly, all cancellations must be handled through the individual tour or activity provider you booked with. Each provider has their own cancellation and refund policy, so we recommend reviewing their terms carefully before booking.</p>
                <p class="text-secondary">If you need help finding contact information or have questions, feel free to reach out—we’re happy to assist however we can.</p>
                <a href="#contact-us">Ask for Help</a>
            </div>
            <span id="become-an-affiliate" ></span>
            <!-- Become an affiliate -->
            <div class="mt-4 border rounded-2 py-3 px-4  bg-white">
                <p class="fs-2 text-theme fw-bold">Become an Affiliate</p>
                <p class="fs-4 mt-3">Want to become part of our ohana?</p>
                <p class="text-secondary mb-2">Partnering with us is completely free—and a great way to grow your visibility across multiple booking platforms. We welcome businesses that align with our mission to share the spirit of Hawaiʻi through unforgettable experiences.</p>
                <p class="text-secondary">If you’re passionate about providing quality tours or activities on the islands, we’d love to hear from you.</p>
                <a href="#contact-us">Contact Us to Learn More </a>
            </div>
            <!-- Contact Us -->
            <span id="contact-us"></span>
            <p class="fs-2 text-center mt-5">Say Hello to Our Team</p>
            <div class="mb-2">
                <p class="text-center px-3 m-0">Contact us via our secure Google Message Form below.</p>
                <p class="text-center px-3 m-0 fw-semibold">We will never share your email with anybody.</p>
            </div>
            <div class="mt-4 pt-4 border rounded-2 bg-white">
                <iframe style="width: 100%;" src="https://docs.google.com/forms/d/e/1FAIpQLSe128ZWhsXrGvaqVYDjzqddSJlhh8Go-AzoltGF822B4LJ6qg/viewform?embedded=true" height="900"></iframe>
            </div>
            <a href="{% url 'core:home' %}" class="btn btn-outline-primary mt-3"><i class="bi bi-arrow-90deg-left"></i> Back</a>
        </div>
    </div>
    <script src="{% static './core/js/clear_form.js'%}"></script>
</body>
</html>