<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hawaii Travel - Info</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'core/assets/logo_sq.png' %}">
    <link rel="stylesheet" href="{% static 'core/css/base_site.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<style>
    .logo{
        height: 80px;
    }
    .container{
        width: 75%;
    }
    @media (max-width: 768px) {
    .container{
        width: 100%;
    }
}
</style>
<body>
    <div class="d-flex flex-column align-items-center bg-light">
        <div class="container py-5">
            <a href="{% url 'core:index' %}" class="btn btn-outline-primary"><i class="bi bi-arrow-90deg-left"></i> Home</a>
            <div class="mt-4 border rounded-2 py-3 px-4 bg-white">
                <a href="{% url 'core:index' %}">
                    <img class="logo" src="{% static 'core/assets/logo.png' %}" alt="">
                </a>
                <h4 class="mt-3">Small Team, Big Mission</h4>
                <p class="text-secondary">Here at Hawaii Travel Tips, we are commited to finding you gnarly deals and hidden gems with trusted companies in Hawaii. We value your feedback and want to hear about your experience with our affiliates!</p>
                <a href="#contact-us">Share Your Feedback</a>
            </div>
            <span id="cancellation-policy"></span>
            <div class="mt-4 border rounded-2 py-3 px-4  bg-white">
                <h1 class="text-theme fw-bold">Cancellation Policy</h1>
                <h4 class="mt-3">Need to cancel a booking reservation?</h2>
                <p class="text-secondary">Your security is our top priority here at Travel Hawaii, therefore, we do not handle any payments. Cancellations must be done directly through the company offering the event that you reserved and must adhere to their refund policies.</p>
            </div>
            <span id="become-an-affiliate" ></span>
            <div class="mt-4 border rounded-2 py-3 px-4  bg-white">
                <h1 class="text-theme fw-bold">Become an Affiliate</h1>
                <h4 class="mt-3">Want to Become Part of Our Ohana?</h2>
                <p class="text-secondary">Advertising your company with is us completely free! Becoming an affiliate also boosts your potential presence on other booking sites. <em>All companies must must adhere to our mission statement to allocate space on our site.</em></p>
                <a href="#contact-us">Contact Us to Learn More </a>
            </div>
            <span id="contact-us"></span>
            <form class="px-2 mt-5" action="https://formspree.io/f/xblgqqav" method="POST" target="_blank">
                <h4 class="ms-2 mb-3">Say Hello to Our Team</h4>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
                        name="first_name" required>
                    <label for="floatingInput">First Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email"
                        required>
                    <label for="floatingInput">Email address</label>
                    <div id="emailHelp" class="form-text ms-2">We'll never share your email with anyone else.</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="" name="phone_number">
                    <label for="floatingInput">Phone Number (optional)</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="message"
                        required style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Message</label>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-outline-primary">Send</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer bg-white w-100 text-center py-1 text-primary border-top">
        <div class="">
            <a class="text-decoration-none fb-logo" href="https://www.facebook.com/groups/1747780178610364" target="_blank">
                <i class="bi bi-facebook fs-1"></i>
            </a>
        </div>
        <div class="">
            <a class="text-decoration-none title text-secondary" href="https://www.facebook.com/groups/1747780178610364" target="_blank">
                <small>Join us on Facebook <span class="fw-semibold"><i class="bi bi-dot"></i> 300k+ members</span></small>
            </a>
        </div>
        <div class="info-links mt-1 mb-1">
            <a href="{% url 'core:info' %}#cancellation-policy" class="text-decoration-none">Cancellation Policy</a>
            <span class="text-secondary"> | </span>
            <a href="{% url 'core:info' %}#contact-us" class="text-decoration-none"> Cantact Us </a>
            <span class="text-secondary"> | </span>
            <a href="{% url 'core:info' %}#become-an-affiliate" class="text-decoration-none"> Become an Affiliate</a>
        </div>
        <a class="text-decoration-none text-dark pb-3 garett-contact-link"
                            href="{% url 'core:contact-garett' %}"><small> Web services <span class="text-decoration-none text-secondary">Garett Joseph</span></small></a>
    </footer>
</body>
</html>