{% extends 'core/base_site.html' %}

{% load static %}

{% block head_title %}
<title>Hawaii Travel Tips - {{query}}</title>
{% endblock %}


<!-- Search Bar -->
{% block large-search-bar %}
<div class="search mt-4 px-2 px-lg-0">
    <form action="{% url 'core:search' current_island %}" method="GET">
        <div class="input-group">
            <span class="input-group-text bg-white" id="basic-addon1"><i class="bi bi-search"></i></span>
            <input type="search" class="form-control" name="q" aria-label="Text input with segmented dropdown button"
                placeholder="" value="{{query}}" style="font-size: 14px;">
            <button type="button" class="btn border px-3 bg-body-tertiary  dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown" aria-expanded="false">
                Change Island
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                {% for island in islands %}
                {% if current_island == island %}
                <li><a class="dropdown-item text-primary text-decoration-underline"
                        href="{% url 'core:change-island' island %}">{{current_island}}</a>
                </li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'core:change-island' island %}">{{island}}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </form>
</div>
{% endblock %}


{% block small-search-bar %}
{% endblock %}

{% block empty-message %}
{% if not page_obj %}
<div class="empty-message d-flex flex-column align-items-center w-100"
    style="height: 50vh;">
    <p class="fs-5 text-center m-0 px-5 pt-5">Sorry, no results found for</p>
    <p class="px-5 text-secondary">"{{query}}"</p>
</div>
{% endif %}
{% endblock %}

<!-- Pagination Bar -->
{% block pagination %}
<div class="mt-4 mb-5 d-flex justify-content-center">
    <nav aria-label="...">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{query}}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            {% endif %}

            {% for page_number in page_range %}
            {% if page_number == page_obj.number %}
            <li class="page-item active" aria-current="page">
                <span class="page-link">{{page_number}}</span>
            </li>
            {% elif page_number == "…" or page_number == None %}
            <li class="page-item" aria-current="page">
                <span class="page-link">{{page_number}}</span>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ page_number }}&q={{query}}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{query}}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}