<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="Hawaii Travel Tips">
    <meta name="robots" content="noindex, nofollow">
    <title>Admin Editing..</title>
    {% load static %}
    <!-- Standard favicons -->
    <link rel="icon" type="image/x-icon" href="https://hawaii-travel-tips.s3.us-east-2.amazonaws.com/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://hawaii-travel-tips.s3.us-east-2.amazonaws.com/favicon_16_16.png">
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://hawaii-travel-tips.s3.us-east-2.amazonaws.com/favicon_32_32.png">
    <!-- Apple Touch -->
    <link rel="apple-touch-icon" sizes="180x180"
        href="https://hawaii-travel-tips.s3.us-east-2.amazonaws.com/favicon_180_180.png">
    <!-- Android/Chrome -->
    <link rel="icon" type="image/png" sizes="192x192"
        href="https://hawaii-travel-tips.s3.us-east-2.amazonaws.com/favicon_192_192.png">
    <link rel="icon" type="image/png" sizes="512x512"
        href="https://hawaii-travel-tips.s3.us-east-2.amazonaws.com/favicon_512_512.png">
    <!-- Manifest -->
    <link rel="manifest" href="{% static 'core/site.webmanifest' %}">

    <link rel="stylesheet" href="{% static 'core/css/base_site_v2.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/update.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class="d-flex">
    <div class="card-container bg-body-tertiary">
        {% include 'core/components/booking_card.html' %}
    </div>
    <div class="right">
        <!-- Form 1 -->
        <form class="d-flex flex-column"
            action="{% url 'core:booking-update' booking.pk %}?island={{current_island|urlencode}}&category={{current_category|urlencode}}&page={{page}}"
            method="POST">
            {% csrf_token %}
            <input type="hidden" name="current_island" value="{{current_island}}">
            <input type="hidden" name="current_category" value="{{current_category}}">
            <input type="hidden" name="page" value="{{page}}">

            <!-- fh_id -->
            <label for="">
                FareHarbor ID : {{booking.fh_id}}
            </label>

            <!-- weight -->
            <label for="">
                Weight : {{booking.weight}}
            </label>


            <!-- referral_link -->
            <label for="">
                URL:
                <a href="{{booking.referral_link}}&back=www.hawaiitraveltips.com">{{booking.referral_link}}</a>
            </label>

            <!-- is_public -->
            <input type="hidden" name="is_public" value="false">
            <div>
                {% if booking.is_public %}
                <input type="checkbox" id="is_public" name="is_public" value="true" checked>
                {% else %}
                <input type="checkbox" id="is_public" name="is_public" value="false">
                {% endif %}
                <label for="is_public">Public</label>
            </div>



            <!-- is_pinned -->
            <input type="hidden" name="is_pinned" value="false">
            <div>
                {% if booking.is_pinned %}
                <input type="checkbox" id="is_pinned" name="is_pinned" value="true" checked>
                {% else %}
                <input type="checkbox" id="is_pinned" name="is_pinned" value="false">
                {% endif %}
                <label for="is_pinned">Pinned to Start</label>
            </div>



            <!-- title -->
            <div>
                <label for="title">Title</label>
                <input type="text" id="title" name="title" size="60" value="{{booking.title}}">
            </div>


            <!-- details -->
            <div class="d-flex flex-column">
                <label for="details">Details</label>
                <textarea name="details" id="details">{{booking.details}}</textarea>
            </div>

            <!-- city -->
            <div>
                <label for="city">City</label>
                <input type="text" id="city" name="city" size="30">
            </div>

            <!-- island.pk -->
            <div>
                <label for="island_input">Island</label>
                <select id="island_input" name="island_id">
                    {% for island in islands %}
                    {% if island == booking.island %}
                    <option value="{{island.id}}" selected>{{island}}</option>
                    {% else %}
                    <option value="{{island.id}}">{{island}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="mt-5">
                <hr>
            </div>


            <!-- City -->
            <div class="input-group mb-3">
                <span class="input-group-text" id="city_input">City</span>
                <input type="text" class="form-control" aria-label="city" aria-describedby="city_input"
                    value="{{booking.city}}" name="city">
            </div>

            <!-- Category Select -->
            <select class="category-select form-select mb-3" multiple aria-label="Default select" name="category_ids">
                {% for category in categories %}
                {% if category in booking.tags.all %}
                <option class="" value="{{category.id}}" selected>{{category}}</option>
                {% else %}
                <option class="" value="{{category.id}}">{{category}}</option>
                {% endif %}
                {% endfor %}
            </select>

            <!-- Popular -->
            <input type="hidden" name="is_popular" value="false">
            <div class="form-check d-flex align-items-center gap-2 mb-3">
                {% if booking.is_popular %}
                <input class="form-check-input" type="checkbox" value="true" id="popularCheckbox{{booking.pk}}"
                    name="is_popular" checked>
                {% else %}
                <input class="form-check-input" type="checkbox" value="true" id="popularCheckbox{{booking.pk}}"
                    name="is_popular">
                {% endif %}
                <label class="form-check-label bg-info text-white px-2 py-1 rounded-1 fw-semibold"
                    for="popularCheckbox{{booking.pk}}">
                    Popular!
                </label>
            </div>

            <!-- Promo -->
            <input type="hidden" name="is_promo" value="false">
            <div class="form-check d-flex align-items-center gap-2 mb-3">
                {% if booking.is_promo %}
                <input class="form-check-input" type="checkbox" value="true" id="promoCheckbox{{booking.pk}}"
                    name="is_promo" checked>
                {% else %}
                <input class="form-check-input" type="checkbox" value="true" id="promoCheckbox{{booking.pk}}"
                    name="is_promo">
                {% endif %}
                <label class="form-check-label bg-primary text-white px-2 py-1 rounded-1 fw-semibold"
                    for="promoCheckbox{{booking.pk}}">
                    XX OFF Promo Code
                </label>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Amount" aria-label="promoAmount"
                    aria-describedby="amount_input" value="{{booking.promo_amount}}" name="promo_amount">
                <span class="input-group-text" id="amount_input">OFF</span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="promocode_input">Promo Code:</span>
                <input type="text" class="form-control" aria-label="" aria-describedby="promocode_input"
                    value="{{booking.promo_code}}" name="promo_code">
            </div>

            <!-- Save  -->
            <div class="d-flex justify-content-end gap-2">
                <button class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteModal{{booking.pk}}">
                    Delete
                </button>
            </div>
        </form>
    </div>
</body>