* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-theme {
    color: #008080 !important;
}

.bg-theme {
    background-color: #008080 !important;
}

body {
    position: relative;
    padding-top: 60px;
}

body p {
    padding: 0;
    margin: 0;
}

/* Admin Buttons */
.admin-buttons{
    position: fixed;
    top: 70px;
    right: 10px;
    z-index: 2;
}

/* Nav Bar */
#navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.98);
    border-bottom: 1px solid #6c757d50;
}


#navbar button {
    border: none;
    background-color: #ffffff;
    font-size: 28px;
}

#menu-toggle svg {
    width: 35px;
    height: 35px;
}

#navbar .logo {
    height: 60px;
}

@media (max-width: 992px) {
    #navbar .logo {
        height: 50px;
    }
}

#navbar .bi-facebook {
    width: 30px;
    height: 30px;
}


#navbar .island-link {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 100%;
    gap: 1rem;
    font-weight: 800;
    line-height: 18px;
}

#navbar .island-link div {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.island-link img {
    height: 40px;
}



#navbar .island-link .city {
    opacity: 0.7;
    font-size: 14px;
    letter-spacing: 1.5px;
}

/* Mobile Island Links */
#mobile-island-links {
    height: 60px;
    display: flex;
    justify-content: space-between;
    order: -2;
}

#mobile-island-links div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mobile-island-links .island-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 100%;
    gap: 1rem;
    font-weight: 800;
    line-height: 16px;
    font-size: 14px;
}

#mobile-island-links img {
    height: 30px;
}

#mobile-island-links .island-link .city {
    opacity: 0.7;
    font-size: 12px;
    letter-spacing: 1.5px;
}

@media (max-width: 576px) {
    #mobile-island-links {
        height: 45px;
    }

    #mobile-island-links .island-link {
        gap: 5px;
        font-weight: 800;
        line-height: 14px;
        font-size: 10px;
    }

    #mobile-island-links img {
        height: 23px;
    }

    #mobile-island-links .island-link .city {
        opacity: 0.7;
        font-size: 8px;
        letter-spacing: 1px;
    }
}

/* Off Canvas */
#offcanvas {
    width: 300px !important;
    background-color: #ffffff;
    box-shadow: 5px 0px 5px #00000050;
    opacity: 0.92;
}

#offcanvas a {
    text-decoration: none;
}

#offcanvas .category {
    font-size: 18px !important;
    color: black;
    margin-top: 10px;
    letter-spacing: 0.25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Header ELEMENT */
header {
    display: flex;
    flex-direction: column;
}

/* Header */
#header {
    position: relative;
    padding-top: 40px;
    padding-bottom: 50px;
    z-index: 2;
    padding-left: 200px;
    border-top: 7px solid black;
    border-bottom: 5px solid black;
    box-sizing: border-box;
    /* background-color: #131313 !important; */
}

#header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../assets/hibiscus_dark_texture.webp");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
}

#header h1 {
    font-size: 60px;
    width: 580px;
    font-weight: 800;
}

#header p {
    width: 90%;
    font-size: 26px;
}

@media (max-width: 992px) {
    #header {
        padding-left: 0;
        padding: 2rem;
    }

    #header p {
        width: 100%;
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    #header h1 {
        width: 80%;
        font-size: 50px;
    }
}

@media (max-width: 576px) {
    #header::before {
        background-size: 200px;
    }

    #header h1 {
        font-size: 2rem;
        width: 100%;
    }

    #header p {
        font-size: 1rem;
    }
}




/* Main */
#main {
    position: relative;
}


#main #side-menu {
    position: sticky;
    top: 60px;
    overflow-y: scroll;
    width: 200px;
    flex-shrink: 0;
    /* height = viewport - navbar    */
    height: calc(100vh - 60px);
}

#main .right {
    position: relative;
    padding-bottom: 75px;
    width: 100%;
}


#main .right::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../assets/hibiscus_texture.webp");
    background-repeat: repeat;
    background-size: auto;
    opacity: 0.03;
    z-index: -1;
}


/* Booking Cards */
#booking-cards {
    justify-content: center;
    align-items: flex-start;
}

.booking-card {
    width: 32%;
    box-shadow: 0px 0px 5px #00000050;
}

@media (max-width: 1300px) {
    .booking-card {
        width: 47%;
    }
}

@media (max-width: 768px) {
    .booking-card {
        width: 350px;
    }
}

@media (max-width: 576px) {
    .booking-card {
        width: 100%;
    }
}

.booking-card .image-container {
    position: relative;
    z-index: 0;
    width: 100%;
    aspect-ratio: 3/2;
}

.booking-card .image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), #ffffff00 100px);
    pointer-events: none;
    /* interaction pass through */
}

.booking-card .company-info {
    position: relative;
    z-index: 1;
}

.booking-card .company-name,
.booking-card .company-rating {
    font-size: 14px;
    letter-spacing: 0.5px;
}

.booking-card .company-reviews {
    font-size: 12px;
}

.booking-card .bi-star-fill,
.bi-star-half {
    color: #ffd400;
    width: 13px;
    height: 13px;
}

.booking-card .badges {
    position: relative;
    z-index: 1;
}

.booking-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.booking-card .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.booking-card .city {
    font-size: 13px;
}

.booking-card .details {
    position: relative;
    font-size: 15px;
    line-height: 22px;
    height: 110px;
    overflow: hidden;
    text-align: justify;
}

.booking-card .ellipsis {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 40px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 35%);
    font-size: 12px;
}

.booking-card .tag {
    font-size: 13px;
    letter-spacing: 0.5px;
}

@media (max-width: 992px) {
    .tag {
        font-size: 12px;
    }
}

.booking-card .bi-clock,
.booking-card .bi-currency-dollar {
    color: #0d6efd;
    width: 25px;
    height: auto;
}

.booking-card .duration,
.booking-card .price {
    position: relative;
}

.booking-card .duration-text,
.booking-card .from-text {
    position: absolute;
    top: -15px;
    right: 0;
    letter-spacing: 0.5px;
}

@media (max-width: 992px) {

    .booking-card .duration-text,
    .booking-card .from-text {
        top: -15px;
    }
}

.booking-card .detail-button {
    letter-spacing: 1.5px;
}


.booking-card .promo-code-text {
    letter-spacing: 0.5px;
}

/* Footer */
#footer {
    position: relative;
    letter-spacing: 0.75px;
}

#footer .logo {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 3px;
}

#footer .logo img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
}

#footer .fb-logo{
    position: absolute;
    top: -50px;
    right: 15px;
}
#footer .fb-logo svg{
    width: 35px;
    height: auto;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer a:hover {
    text-decoration: underline;
}

#footer .web-service-text {
    font-size: 12px;
}

#footer .garett-link {
    letter-spacing: 1.25px;
}

#footer .copyright .title {
    letter-spacing: 1.25px;
}

@media (max-width: 576px) {
    #footer .body{
        padding-top: 3rem;
        flex-direction: column;
    }

    #footer .footer-right {
        text-align: center !important;
        margin-top: 3rem;
    }
}
