* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.text-theme {
    color: #008080 !important;
}

.bg-theme {
    background-color: #008080 !important;
}


body {
    position: relative;
    padding-top: 60px;
}

body p {
    padding: 0;
    margin: 0;
}

dl {
    margin-bottom: 0 !important;
}

figure {
    margin-bottom: 0 !important;
}

.fs-sm {
    font-size: 0.875rem !important;
}

.fs-xs {
    font-size: 0.75rem !important;
}

.fs-lg {
    font-size: 1.125rem !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.ls-1 {
    letter-spacing: 0.025em !important;
}

/* Admin Buttons */
.admin-buttons {
    position: fixed;
    top: 70px;
    right: 10px;
    z-index: 2;
}

/* Nav Bar */
#navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.98);
    border-bottom: 1px solid #6c757d50;
}

#navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#navbar button {
    position: absolute;
    left: 1rem;
    border: none;
    background-color: #ffffff;
    font-size: 28px;
}

#menu-toggle svg {
    width: 35px;
    height: 35px;
}

#navbar .logo {
    height: 60px;
}

@media (max-width: 992px) {
    #navbar .container {
        justify-content: center;
    }

    #navbar .logo {
        height: 50px;
    }
}

#navbar .bi-facebook {
    width: 30px;
    height: 30px;
}


#navbar .island-link {
    /* width: 20%; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 100%;
    gap: 1rem;
    font-weight: 800;
    line-height: 18px;
    transition: ease 0.2s;
}

#navbar .island-link:hover {
    opacity: 0.5;
}

#navbar .island-link div {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.island-link img {
    height: 30px;
}

#navbar .line {
    border-bottom: 2px solid pink;
    /* opacity: 0.25; */
    width: 50%;
}

/* Mobile Island Links */
#mobile-island-links {
    height: 60px;
    display: flex;
    justify-content: space-between;
    order: -1 !important;
}

#mobile-island-links .island-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    /* width: 25%; */
    height: 100%;
    gap: 0.5rem;
    font-weight: 800;
    line-height: 16px;
    font-size: 14px;
}

#mobile-island-links img {
    height: 22px !important;
}

#mobile-island-links .line{
    border-bottom: 2px solid pink;
    width: 50%;
    margin-top: 2px;
}
#mobile-island-links .hawaii {
    height: 25px !important;
}

#mobile-island-links .kauai {
    height: 20px !important;
}

#mobile-island-links div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mobile-island-links .island-link .city {
    letter-spacing: 1.5px;
    font-size: 0.75rem;
}

@media (max-width: 576px) {

    #mobile-island-links .island-link {
        gap: 5px;
        line-height: 11px;
        font-size: 12px;
    }
    #mobile-island-links .line{
        margin-bottom: 1px;
    }
    #mobile-island-links .city{
        font-size: 10px !important;
    }
    #mobile-island-links img {
        display: none;
    }
}

/* Off Canvas */
#offcanvas {
    width: 300px !important;
    background-color: #ffffff;
    box-shadow: 5px 0px 5px #00000050;
    opacity: 0.92;
}

#offcanvas a {
    text-decoration: none;
}

#offcanvas .category {
    font-size: 18px !important;
    color: black;
    margin-top: 10px;
    letter-spacing: 0.25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}





/* Main */
#main {
    position: relative;
}

#main:before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../assets/textures/hibiscus.webp");
    background-repeat: repeat;
    background-size: auto;
    opacity: 0.015;
    z-index: -1;
}


#main #side-menu {
    position: sticky;
    top: 60px;
    overflow-y: scroll;
    width: 200px;
    flex-shrink: 0;
    /* height = viewport - navbar    */
    height: calc(100vh - 60px);

    border-radius: 1rem;
}


#side-menu a {
    transition: ease 0.1s;
}

#side-menu .category:hover {
    margin-left: 0.5rem;
}



#main .right {
    position: relative;
    width: 100%;
}



/* Sections */
section .title {
    font-size: 2.25rem;
    font-weight: 800;
}

.item-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 1rem; */
}

.item-card {
    position: relative;
    width: 300px;
    box-shadow: 0px 0px 5px #00000050;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 32%;

}

.item-card figure {
    position: relative;
}

.item-card img {
    width: 100%;
    aspect-ratio: 2/1;
}

.item-card .location {
    position: absolute;
    bottom: 0;
    border-radius: 0px 0.25rem 0 0;
    background-color: #fff2cf;
}

.item-card .description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}



/* Booking Cards */
#booking-cards {
    align-items: flex-start;
    gap: 1rem;
}

/* Mobile card sizes are in individual style sheets */
.booking-card {
    width: 32%;
    box-shadow: 0px 0px 5px #00000050;
    border-radius: 12px;
    overflow: hidden;
}



.booking-card .image-container {
    position: relative;
    z-index: 0;
    width: 100%;
    aspect-ratio: 5/3;
    /* aspect-ratio: 3/2; */
}

.booking-card .image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), #ffffff00 100px); */
    pointer-events: none;
    /* interaction pass through */
}

.booking-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.booking-card .company-info {
    position: relative;
    z-index: 1;
    display: inline-block;
    /* background: linear-gradient(rgba(255, 255, 255, 0.2), #ffffff00); */
    background: rgba(255, 255, 255, 0.2);
    /* semi-transparent so blur shows */
    backdrop-filter: blur(10px);
    /* adjust blur strength */
    -webkit-backdrop-filter: blur(10px);
    /* Safari support */
    border-radius: 8px;
    /* optional, for cleaner edges */

}

.booking-card .company-name {
    font-size: 0.75rem;
}

.booking-card .badges {
    font-size: 0.75rem;
}

.booking-card .title {
    font-size: 1.125rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.booking-card .details {
    /* font-size: 0.875rem; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.booking-card .price {
    font-size: 1.125rem;
}

.booking-card .company-rating {
    font-size: 14px;
    letter-spacing: 0.5px;
}

.booking-card .company-reviews {
    font-size: 12px;
}

.booking-card .bi-star-fill,
.bi-star-half {
    color: #ffd400;
    width: 13px;
    height: 13px;
}


.booking-card .btn {
    font-size: 0.875rem !important;
}


/* Article Page */
.article-page .title {
    font-size: 4.25rem;
}


.article-page .item img {
    width: 100%;
    width: 450px;
    aspect-ratio: 3/2;
    border-radius: 0.75rem;
    object-fit: cover;
    object-position: center;
    transform: rotate(-5deg);
}

.article-page .item-info {
    /* width: 600px; */
}


/* Sub-Footer */
.sub-footer {
    background: linear-gradient(to bottom right, rgba(13, 110, 253), rgba(27, 69, 255));
}

.sub-footer .text {
    font-size: 2.25rem;
    font-weight: 800;
}

/* Footer */
@media (max-width: 768px) {
    #footer .links{
        display: flex;
        flex-direction: column;
        gap: 0.5rem !important; 
    }
}
#footer .link-light {
    transition: ease 0.2s;
}

#footer .link-light:hover {
    opacity: 1 !important;
    text-decoration: underline !important;
}