*{
    /* border: 1px solid red; */
}

@media (max-width: 1200px) {
    .booking-card {
        width: 48%;
    }
}


@media (max-width: 768px) {
    .booking-card {
        width: 100%;
    }
}


@media (max-width: 992px) {
    .sub-footer .container{
        flex-direction: column;
        align-items: start !important;
    }
    .sub-footer a{
        margin-top: 2rem;
    }
}
