.text-theme {
    color: #008080 !important;
}

.bg-theme {
    background-color: #008080 !important;
}


/* Main */



#main .change-island{
    margin-top: 100px;
}


/* Booking Cards */
#booking-cards {
    justify-content: center;
    align-items: flex-start;

    /* margin-top: 300px; */
}