/* Offcanvas */
#offcanvas {
    width: 300px !important;
    background-color: #ffffff;
    box-shadow: 5px 0px 5px #00000050;
    opacity: 0.92;
}

#offcanvas a {
    text-decoration: none;
}

#offcanvas .category {
    font-size: 18px !important;
    color: black;
    margin-top: 10px;
    letter-spacing: 0.25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

