* {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    padding: 0;
}

.card-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: scroll;
}

.booking-card {
    transform: scale(0.80);
}

.right {
    position: absolute;
    top: 0;
    right: 0;

    border: 1px solid red;
    width: 800px;
}

textarea[name='details'] {
    width: 400px;
    height: 100px;
    resize: vertical;
}