* {
    /* border: 1px solid red; */
}

.header {
    background-color: rgb(234, 227, 214);
}

.header img {
    /* width: 100%; */
    aspect-ratio: 2/1;
    width: 50%;
    /* height: 200px; */
    object-fit: cover;
    object-position: center;
    /* border-radius: 1rem; */
}

.header h1 {
    font-size: 3.5rem;
    line-height: 1;
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 2rem;
    }
}

.post {
    width: 50%;
    padding: 1rem;
    transition: 0.15s ease;
}

@media (max-width: 992px) {
    .post {
        width: 100%;
        overflow: hidden;
        /* flex-direction: column; */
    }
}

.post:hover {
    background-color: white;
    border-radius: 20px;
}

.post .media {
    width: 45%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.post .title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.5rem;
}

@media (max-width:768px) {
    .post .title {
        font-size: 1rem;
        -webkit-line-clamp: 2;
    }
}

.post .excerpt p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width:576px) {
    .post .tags {
        display: none !important;
    }
}

.post .author img {
    border-radius: 9999px;
    width: 45px;
}


.sub-footer .text-2 {
    font-size: 1.5rem;
    font-weight: unset;
}

@media (max-width:992px) {
    .sub-footer .container {
        flex-direction: column;
    }
}
@media (max-width:576px) {
    .sub-footer .container{
        padding: 2rem;
    }
}