* {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    padding: 0;
}


.update-card-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: scroll;
}

.booking-card {
    transform: scale(0.90);
    width: 420px !important;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100vw - 700px);
}

#category_ids{
    position: fixed;
    left: 440px;
    top: 0;
    width: 200px;
    height: 100vh;
    padding-bottom: 50px;
}
textarea[name='details'] {
    width: 400px;
    height: 100px;
    resize: vertical;
}

select[name='category_ids']{
    width: 400px;
    height: 200px;
}

.buttons{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.exit-button{
    position: fixed;
    top: 20px;
    right: 20px;
}