

.post-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
}

.post-card {
    position: relative;
    box-shadow: 0px 0px 5px #00000050;
    border-radius: 12px;
    overflow: hidden;
    width: 32%;
}

@media (max-width: 1200px) {
    .post-card {
        width: 48%;
    }
}

@media (max-width: 992px) {
    .post-card {
        width: 100%;
    }
}




.post-card figure {
    position: relative;
}

.post-card .media {
    width: 100%;
    aspect-ratio: 16/9;
    /* padding: 10px; */
    border-radius: 12px !important;
}

.post-card .read-time {
    position: absolute;
    bottom: 0;
    border-radius: 0px 0.25rem 0 0;
    background-color: #fff2cf;
}

.post-card .description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.post-card .author img{
    border-radius: 9999px;
    height: 45px;
}
