<footer id="footer" class="bg-dark text-white p-4">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center gap-3">
            <!-- <img class="logo" src="https://hawaii-travel-tips.s3.us-east-2.amazonaws.com/logo_mobile.webp"
                alt="website logo"> -->
            <a class="text-decoration-none link-light ls-1 opacity-75" href="{% url 'core:info' %}">About Us</a>
            <span class="opacity-25">|</span>
            <a class="text-decoration-none link-light ls-1 opacity-75" href="{% url 'core:info' %}#cancellation-policy">Cancellation Policy</a>
            <span class="opacity-25">|</span>
            <a class="text-decoration-none link-light ls-1 opacity-75" href="{% url 'core:info' %}#become-an-affiliate">Become an Affiliate</a>
            <span class="opacity-25">|</span>
            <a class="text-decoration-none link-light ls-1 opacity-75" href="{% url 'core:info' %}#contact-us">Contact Us</a>
        </div>
        <div class="text-center mt-4 fs-sm fw-semibold opacity-50">
            <p>Web services CloudHawaii</p>
            <p>© 2025 Hawaii Travel Tips. All rights reserved.</p>
        </div>
</footer>