<section id="header" class="bg-dark text-light px-3 px-md-5">
    {% if not current_category %}
    <h1>{{current_island.page_title}}</h1>
    {% else %}
    <h1>{{current_category.page_title}} in {{current_island.name}}</h1>
    {% endif %}

    {% if jumbotron %}
    {% if not current_category %}
    <p class="mt-3 opacity-75">{{current_island.page_description}}</p>
    {% else %}
    <p class="mt-3 opacity-75">{{current_category.page_description}}</p>
    {% endif %}
    {% else %}
    <details class="mt-4">
        <summary class="text-decoration-underline text-light opacity-75">Read more</summary>
        {% if not current_category %}
        <p class="mt-3 opacity-75">{{current_island.page_description}}</p>
        {% else %}
        <p class="mt-3 opacity-75">{{current_category.page_description}}</p>
        {% endif %}
    </details>
    {% endif %}

    <div class="header-photos">
        {% if current_island.sm_featured_URL %}
        <div class="sm-photo-container d-flex flex-column">
            <img class="sm-photo" src="{{current_island.sm_featured_URL}}" alt="">
            <span class="fw-semibold text-dark ms-1 text-center">{{current_island.sm_featured_company}}</span>
        </div>
        {% endif %}
        {% if current_island.lg_featured_URL %}
        <div class="d-flex flex-column">
            <span class="me-2 text-center">{{current_island.lg_featured_company}}</span>
            <img class="lg-photo" src="{{current_island.lg_featured_URL}}" alt="">
        </div>
        {% endif %}
    </div>
</section>
