{% load static %}
<!-- Nav Bar -->
<nav id="navbar" class="px-3">
    <button id="menu-toggle" class="btn d-lg-none d-flex justify-content-center align-items-center p-0"
        aria-label="Open navigation menu" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
        </svg>
    </button>

    <a href="{% url 'core:change-island' 'Oahu' %}" class="island-link d-none d-lg-flex">
        <img src="{% static 'core/assets/icons/oahu.webp' %}" alt="">
        <div>
            <span class="island">O'AHU</span>
            <span class="city fs-xs fw-bold text-secondary">WAIKIKI</span>
        </div>
    </a>
    <a href="{% url 'core:change-island' 'Big Island' %}" class="island-link d-none d-lg-flex">
        <img src="{% static 'core/assets/icons/bigisland.webp' %}" alt="">
        <div>
            <span class="island">HAWAI'I</span>
            <span class="city fs-xs fw-bold text-secondary">BIG ISLAND</span>
        </div>
    </a>
    <a class="logo-link" href="{% url 'core:home' %}">
        <img class="logo" src="https://hawaii-travel-tips.s3.us-east-2.amazonaws.com/logo_mobile.webp"
            alt="website logo">
    </a>
    <a href="{% url 'core:change-island' 'Maui' %}" class="island-link d-none d-lg-flex">
        <img src="{% static 'core/assets/icons/maui.webp' %}" alt="">
        <div>
            <span class="island">MAUI</span>
            <span class="city fs-xs fw-bold text-secondary">KAHULUI</span>
        </div>
    </a>
    <a href="{% url 'core:change-island' 'Kauai' %}" class="island-link d-none d-lg-flex">
        <img src="{% static 'core/assets/icons/kauai.webp' %}" alt="">
        <div>
            <span class="island">KAUA'I</span>
            <span class="city fs-xs fw-bold text-secondary">LIHUE</span>
        </div>
    </a>
</nav>